*.DS_Store
*.class
.lastbuild.cks

# idea project files
ocelot.iml
.idea/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.classpath
experiments/
output/
jni/
libTest.so
libTest.jnilib

.settings/
.project

#output files
outputs/

/nbproject/private/
/build/

# jni files
jni/main.c
jni/main.h
jni/makefile

# netbeans file
build.xml
manifest.mf
nbproject/*

# class for random tries
src/it/unisa/ocelot/runnable/McCabe.java

*.csv

#result_output
results/
RESULTS/
testobject/
/target/
